In [47]:
import config # this is the api file
import pandas as pd
import numpy as np
import finnhub
import time
import datetime
#from operator import itemgetter

In [48]:
#start and end date for the data
dt_start = "01/04/2022"
dt_end = "11/04/2022"

#convert the date data into unix timestamp
utc_start = int(datetime.datetime.strptime(dt_start, "%d/%m/%Y").timestamp())
utc_end = int(datetime.datetime.strptime(dt_end, "%d/%m/%Y").timestamp())

In [49]:
# list of stocks
stocks = ['AAPL','MSFT']

In [50]:
stk_df = pd.DataFrame(columns=['c','h','l','o','s','t','v','ticker'])

In [51]:
finnhub_client = finnhub.Client(api_key=config.finnhub_key)

def price_volume_data(stock):
    dict = (finnhub_client.stock_candles(stock, 'D', utc_start, utc_end))
    df = pd.DataFrame.from_dict(dict,orient='index').transpose()
    df['ticker'] = stock
    return df

In [54]:
for stock in stocks:
    stk_df = stk_df.append(price_volume_data(stock))

In [55]:
stk_df

        c        h        l       o    s             t           v ticker
0  174.31   174.88   171.94  174.03    o    1648771200    78751328   AAPL
1  178.44   178.49   174.44  174.57    k    1649030400    76545983   AAPL
2  175.06    178.3  174.415   177.5  NaN  1649116800.0  73401786.0   AAPL
3  171.83   173.63   170.13  172.36  NaN  1649203200.0  89058782.0   AAPL
4  172.14   173.36   169.85  171.16  NaN  1649289600.0  77594650.0   AAPL
5  170.09   171.78    169.2  171.78  NaN  1649376000.0  76575508.0   AAPL
6  165.75   169.03    165.5  168.71  NaN  1649635200.0  72246706.0   AAPL
0  309.42   310.13   305.54  309.37    o    1648771200    27110529   MSFT
1  314.97   315.11   309.71  310.09    k    1649030400    24335868   MSFT
2  310.88  314.865   309.87  313.27  NaN  1649116800.0  23156719.0   MSFT
3   299.5    307.0   296.71  305.19  NaN  1649203200.0  40110372.0   MSFT
4  301.37   303.65   296.35  296.66  NaN  1649289600.0  31411155.0   MSFT
5  296.97   301.12   296.28  300.44  NaN  1649376000.0  24361917.0   MSFT
6  285.26   292.61    285.0  291.79  NaN  1649635200.0  34569264.0   MSFT