In [76]:
import config # this is the api file
import pandas as pd
import numpy as np
import finnhub
import time
import datetime

In [77]:
#start and end date for the data
dt_start = "01/04/2022"
dt_end = "11/04/2022"

#convert the date data into unix timestamp
utc_start = int(datetime.datetime.strptime(dt_start, "%d/%m/%Y").timestamp())
utc_end = int(datetime.datetime.strptime(dt_end, "%d/%m/%Y").timestamp())

In [78]:
# list of stocks
stocks = ['AAPL','MSFT','GE']

In [79]:
stk_df = pd.DataFrame(columns=['c','h','l','o','s','t','v','ticker'])

In [80]:
finnhub_client = finnhub.Client(api_key=config.finnhub_key)

def price_volume_data(stock):
    dict = (finnhub_client.stock_candles(stock, 'D', utc_start, utc_end))
    df = pd.DataFrame.from_dict(dict,orient='index').transpose()
    df['ticker'] = stock
    df['t'] = pd.to_datetime(df['t'], unit='s')
    return df

In [82]:
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

record_count = 1
set_count = 1

Beginning Data Retrieval
-----------------------------

In [83]:
for i, stock in enumerate(stocks):
    if(i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(61) # the delay is required for finnhub's terms of service - 60 calls per minute - I've left it a 50
    
    # adding stock data to the dataframe
    stk_df = stk_df.append(price_volume_data(stock))
    
    # telling you what record is being processed
    print(f"Processing Record {record_count} of Set {set_count} | {stock}")
    
    # adding to the record count for the next iteration
    record_count += 1
    
# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 1 of Set 1 | AAPL
Processing Record 2 of Set 1 | MSFT
Processing Record 3 of Set 1 | GE
-----------------------------
Data Retrieval Complete
-----------------------------

In [84]:
stk_df

        c        h        l       o    s          t           v ticker
0  174.31   174.88   171.94  174.03    o 2022-04-01    78751328   AAPL
1  178.44   178.49   174.44  174.57    k 2022-04-04    76545983   AAPL
2  175.06    178.3  174.415   177.5  NaN 2022-04-05  73401786.0   AAPL
3  171.83   173.63   170.13  172.36  NaN 2022-04-06  89058782.0   AAPL
4  172.14   173.36   169.85  171.16  NaN 2022-04-07  77594650.0   AAPL
5  170.09   171.78    169.2  171.78  NaN 2022-04-08  76575508.0   AAPL
6  165.75   169.03    165.5  168.71  NaN 2022-04-11  72246706.0   AAPL
0  174.31   174.88   171.94  174.03    o 2022-04-01    78751328   AAPL
1  178.44   178.49   174.44  174.57    k 2022-04-04    76545983   AAPL
2  175.06    178.3  174.415   177.5  NaN 2022-04-05  73401786.0   AAPL
3  171.83   173.63   170.13  172.36  NaN 2022-04-06  89058782.0   AAPL
4  172.14   173.36   169.85  171.16  NaN 2022-04-07  77594650.0   AAPL
5  170.09   171.78    169.2  171.78  NaN 2022-04-08  76575508.0   AAPL
6  165.75   169.03    165.5  168.71  NaN 2022-04-11  72246706.0   AAPL
0  309.42   310.13   305.54  309.37    o 2022-04-01    27110529   MSFT
1  314.97   315.11   309.71  310.09    k 2022-04-04    24335868   MSFT
2  310.88  314.865   309.87  313.27  NaN 2022-04-05  23156719.0   MSFT
3   299.5    307.0   296.71  305.19  NaN 2022-04-06  40110372.0   MSFT
4  301.37   303.65   296.35  296.66  NaN 2022-04-07  31411155.0   MSFT
5  296.97   301.12   296.28  300.44  NaN 2022-04-08  24361917.0   MSFT
6  285.26   292.61    285.0  291.79  NaN 2022-04-11  34569264.0   MSFT
0   92.49    92.56    91.11    92.1    o 2022-04-01     5641339     GE
1   92.02    92.32     90.9   92.18    k 2022-04-04     5141193     GE
2    90.1    92.34    89.91   91.66  NaN 2022-04-05   6720767.0     GE
3   89.91    90.17    87.82   89.37  NaN 2022-04-06   6576669.0     GE
4   89.46    90.08    87.09   89.82  NaN 2022-04-07   7097205.0     GE
5   89.74    90.27    88.62   89.49  NaN 2022-04-08   4017239.0     GE
6   89.67   91.585    89.03   89.54  NaN 2022-04-11   5392309.0     GE

In [64]:
for i in range(len(stocks)):
    print(stocks[i])

KeyError: 0